body {
	margin: 0;
}

#headerContainer {
	position: sticky;
	top: 0;
}

#form {
	display: grid;
	grid-template-columns: 5% 5% auto auto 5% 5%;
	grid-template-rows: auto auto auto auto;
}

#range {
	grid-column: span 2;
}

#transcript {
	grid-column: span 2;
}

#random {
	grid-column: span 2;
}

#title {
	grid-column: span 5;
}

#alt {
	grid-column: span 5;
}